@include media-breakpoint-down(sm) {
  .home-menu .nav {
    padding: 2rem 1rem;

    li {
      text-align: center;

      a,
      a:hover,
      a:visited,
      a:active {
        line-height: 2;
        text-align: center;
        font-weight: 400;
      }
    }
  }
}
