/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/** Fonts **/
@import url("https://fonts.googleapis.com/css?family=Lato:100,400,700");
@import url("https://use.typekit.net/ppw5byg.css"); // Adobe Garamond Pro
$lato: Lato, Helvetica, Arial, sans-serif;
$garamond: adobe-garamond-pro, serif;

/** Colours **/
$black: #333;
$blue: #3e4550;
